* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #5F2871;
    color: bisque;
    h1 {
        background: #441154;
        margin: 0;
        padding: 20px 0;
        text-align: center;
    }
}

#search-engine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    #country-name {
        height: 40px;
        width: 300px;
        margin: 10px;
        text-align: center;
    }
    #search {
        height: 50px;
        width: 180px;
        margin: 5px;
        background: #441154;
        color: bisque;
        border-radius: 10px;
        border-color: bisque;
    }

}

#countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .country {
        background: #7D498D;
        padding: 20px 0;
        border: 2px solid #9C73A9;
        border-radius: 30px;
        width: 500px;
        margin: 20px;
        font-size: 1.1em;
        &:hover {
            transform: scale(1.02);
            transition: .3s;
            box-shadow: 3px 3px 3px 3px #2B0238;
        }
        h1 {
            text-align: center;
        }
        img {
            display: block;
            width: 300px;
            margin: 15px auto;
        }
        .countryLeftSide {
            display: inline-block;
            width: 50%;
            text-align: right;
            padding: 10px;
        }
        .countryRightSide {
            display: inline-block;
            width: 50%;
            padding: 10px;
        }
    }
}